<div class="login-container fade-in" id="scre">
    <header routerLink="/">
        <h1>Barber</h1>
        <img src="assets/hairstyle.png" width="90px" class="logo-anim">
        <h1>Shop</h1>
    </header>
    <div class="login-box fade-up" *ngIf="!signIn">
        <h1>Bem-vindo de Volta!</h1>
        <p>Faça login para continuar</p>
        <div>
            <div class="input-group">
                <label for="email">Email</label>
                <input type="text" id="email" placeholder="Digite seu email" [(ngModel)]="email" required>
            </div>
            <div class="input-group">
                <label for="password">Nome</label>
                <input type="text" id="name" placeholder="Digite seu nome" [(ngModel)]="name" required>
            </div>
            <button type="submit" (click)="login()" class="btn-glow">Entrar</button>
        </div>
        <p class="register-link">Não tem uma conta? <a (click)="cadastrar()" style="cursor: pointer;">Cadastre-se</a></p>
    </div>
    <div class="login-box fade-up" *ngIf="signIn">
        <h1>Bem-vindo!</h1>
        <p>Faça seu cadastro para continuar</p>
        <div>
            <div class="input-group">
                <label for="Nome">Nome</label>
                <input type="text" id="Nome" [(ngModel)]="cadastro.name" placeholder="Digite seu Nome (Primeiro Nome)" required>
            </div>
            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" id="email" [(ngModel)]="cadastro.email" placeholder="Digite seu email" required>
            </div>
            <div class="input-group">
                <label for="tele">Telefone Celular</label>
                <input type="text" id="tele" [(ngModel)]="cadastro.phone" placeholder="Digite seu Telefone" required>
            </div>
    
            <button type="submit" class="btn-glow" (click)="signUp()">Cadastrar</button>
        </div>
        <p class="register-link">Ja possui uma conta? <a (click)="cadastrar()" style="cursor: pointer;">Entre</a></p>
    </div>
</div>
