<div>
    <header >
        <img src="assets/logo.png" width="300px" height="150px"> 
    </header>

    <section id="home"><br/>
        <app-carousel/><br/>

        <div id="cont">
            <h1>Por Que Cortar Conosco?</h1>
            <p>Nossas Barbearias são montadas por profissionais competentes que passam por um treinamento prévio
                para testar a satisfação de nossos clientes.
                Todos os Nossos produtos possuem selo de qualidade e revisões semestrais para controle de satisfação
                e qualidade .
                Tentamos ao Máximo qualificar nossos produtos e profissionais e evoluimos em cada etapa.
            </p>
            <h2>Gostaria de cortar conosco ? </h2>
            <button>Agende Agora Sua Vez</button>
        </div>

    </section>
</div>
